/* 
# Black_BG.html Template
*/
.hero-bg-black {
	background-color: #000000 !important;
	background: none;
	height: auto;
	margin-bottom: 8em;
}

/* Video-Layout.html Template */
.play-btn a {
	cursor: pointer;
}
.noisy-values {
	text-align: center;
	text-transform: initial;
	margin-bottom: 7em;
}
.value-icon {}
.value-icon img {
	width: 57px;
}
.value-title {
	font-size: 24px;
	letter-spacing: 0.1px;
}
.value-text {
	font-size: 14px;
	font-weight: normal;
}
.value-margin {
	margin-bottom: 2em;
}

/* Credits.html Template */
.noisy-credits {
	margin: 0 auto 40px;
	overflow: hidden;
	padding: 0;
	width: 75%;
	font-size: 12px;
	font-weight: normal;
}
.noisy-credits li {
	line-height: 1.5em;
	float: left;
	display: inline;
	margin-bottom: 5px;
	margin-right: 10px;
}
#double li {
	width: 45%;
}
.noisy-credits_title {
	text-transform: initial;
}
.noisy-credits_margin {
	text-align: center;
	margin-bottom: 2em;
}
.credits-wrapper {
	max-width: 400px;
}

/* Gallery.html Template */
.gallery_wrapper {
	margin: 6em auto;
}
.noisy-gallery {
	width: 90%;
	margin: 0 auto;
	list-style: none;
	padding: 0;
}
.noisy-gallery li {
	width: 100%;
	margin-bottom: 7px;
}
.noisy-gallery li img {
	width: 100%;
}

/* Template-Footer.html */
.related-projects {
	padding: 0;
	margin-top: 4em;
}
.related-projects li {
	list-style: none;
	margin: 0 auto 55px;
	font-size: 12px;
}
.related-projects a {
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}
.related-projects li img {
	width: 50px;
}
.template-footer {
	text-align: center;
}
.footer-line {
	width: 75%;
	border-bottom: 1px solid #e44d4e;
	margin: 0 auto 100px;
}
.template-footer_title {
	text-transform: initial;
	font-size: 20px;
}


.template_wrapper {
	margin: 100px 20px;
}

@media screen and (min-width: 500px) {
	.template_wrapper {
		margin: 100px auto;
		max-width: 450px;
	}

	/* Gallery.html Template */
	.noisy-gallery li {
		width: 48%;
		float: left;
		margin-right: 7px;
	}
}

@media screen and (min-width: 750px) {
	.noisy-gallery {
		width: 100%;
	}
	.noisy-gallery li {
		width: 24%;
	}

	.template-footer_wrapper {
		 max-width: 650px;
		 margin: 0 auto;
	}
	.related-projects li {
		width: 33%;
		float: left;
	}
}