---
layout: hero_bg
--- 
<!-- Slider -->
<div class="nt-slider clearfix">


  {% assign features = site.work | where:"featured", "yes" | sort:"featured-rank" %}
  {% for work in features limit: 3 %}
  
  {% if work.slide == "slide1" %}
  <!-- Slide 1 -->
  <div class="slide">

    <div class="slide_img-wrapper">
      <img src="{{ work.img-path }}" class="slide_img" />  
    </div>
    <div class="slide_text">
      {{ work.description }}
    </div>
    <a href="{{ work.url }}">
      <div class="slide_cta">
       Read More
      </div>
    </a>
  
  </div><!-- #Slide 1 -->
  {% endif %}

  {% if work.slide == "slide2" %}
  <!-- Slide 2 -->
  <div class="slide" id="slide2_top">
    <div class="slide_date">{{ work.date | date: '%B %d, %Y' }} @ <div class="mobile-block">{{ work.location }}</div></div>
    <div class="slide_img-wrapper">
      <img src="{{ work.img-path }}" class="slide2_img" />  
    </div>
    <div class="slide_text">
      {{ work.description }}
    </div>
    <a href="{{ work.url }}">
      <div class="slide_cta">Read More</div>
    </a>
  </div><!-- #Slide2 -->
  {% endif%}

  {% endfor %}

  
  

</div><!-- nt-slider -->

<!-- Testing -->

  <!-- {% for post in site.posts %}
  <div class="work-item_wrapper">
    <div class="work-item_date">{{ post.date }}</div>
    <div class="work-item_title"><a href="#">{{ post.title }}</a></div>
    <div class="work-item_description">{{ content }}</div>
    <div>hello</div>
  </div>
  {% endfor %} -->

  


    
    