<div class="menu-wrapper">
	<div class="menu-title">menu</div>
	<ul class="menu-list">
		<li>healthy turkey burger<br />
		<span class="menu-list_description">turkey burger, alfafa sprouts, avocado spread, swiss cheese on brioche bun</span>
		</li>
		<li>dnd burger<br />
		<span class="menu-list_description">angus burger, lettuce, tomato, cheddar cheese, ketchup, mustard on brioche bun</span>
		</li>
		<li>the noisy burger<br />
		<span class="menu-list_description">angus burger, lettuce, tomato, onion, special loud sauce, cheddar cheese on brioche bun</span>
		</li>
		<li>hawaiian burger<br />
		<span class="menu-list_description">angus burger, pepper jack cheese, teriyaki sauce, pineapple, canadian ham</span>
		</li>
		<li>hand cut fries</li>
	</ul>
</div>