<div class="template-footer">
	<div class="template-footer_wrapper">
		<div class="template-footer_title">view more projects<br><br><img src="/img/arrow.png" width="15" /></div>
		<ul class="related-projects clearfix">
			<li><a href="{{ site.baseurl }}/work/bus-stop-buddies"><img src="/img/icon-bus-stop-buddies.png" /><br><br>bus stop buddies</a></li>
			<li><a href="{{ site.baseurl }}/work/bus-stop-buddies"><img src="/img/icon-noisy-burger.png" /><br><br>@noisyburger</a></li>
			<li><a href="{{ site.baseurl }}/work/bus-stop-buddies"><img src="/img/icon-school-lunch-program.png" /><br><br>school lunch program</a></li>
		</ul>
	</div>
</div>