<section class="white-bg testimonial-space">
	<div class="center">
		<img src="/img/logo-noisy-rooster-bell.png" class="noisy-logo" />
	</div>
	<div class="testimonial-item-wrapper testimonial-space">
		<div class="testimonial-item clearfix">
			<div class="testimonial-item-img">
				<img src="/img/testimonial-1.png" width="100" />
			</div>
			<div class="testimonial-item-text">
				First Name<br />
				c/o 2017<br />
				A quick blurb about the student, an insight into what the student contributed to the overall
			</div>
		</div>
	</div>
</section>