/* Home */
.red_span {
	color: $red;
}
.hero_img_home {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Contact */
.noisy_text_wrapper {
	max-width: 500px;
	margin: 0 auto 4em;
}

/* Thank You */
.thank_you_wrapper {
  text-align: center;
  width: 70%;
  margin: auto;
}

/* Docs */
.docs_item {
	border: 1px solid #000;
	padding: 15px;
	width: 75%;
	margin-bottom: 30px;
}
.docs_list {
	list-style: none;
	font-size: 14px;
}
