---
layout: black_bg
--- 

<div class="noisy-hero noisy-hero_event" style="background-color: {{ page.hero-color }};">
	<div class="noisy-event_spacer"><img src="{{ page.event-picture }}" width="{{ page.event-picture_width }}" /></div>
	<div class="noisy-event_text">{{ page.event-description }}</div>
	<div class="noisy-event_spacer">{{ page.event-date }}</div>

	<div class="noisy-event_location">{{ page.location-name }}</div>
	<div class="noisy-event_location">{{ page.location-address }}</div>
	<div class="noisy-event_location">{{ page.locale }}</div>
</div>

{{ content }}

{% include return-btn.html return-page-name='work' return-page-url="work" %}

{% include template-footer.html %}

