<!DOCTYPE html>
<html>

  {% include layouts/head.html %}

  <body>

  	<div id="preloader"></div>

    <div class="container clear">

    	{% include layouts/header.html %}

        {% unless page.title == "Work" or page.url == "/" %}
            {% include components/return-work.html %}
        {% endunless %}

        <div class="hero_img_home" style="background-image: url({{ page.hero_img }});">

    	   {{ content }}

           {% include layouts/footer.html %}

        </div>
    </div> <!-- .container -->

  </body>

</html>
