<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  	<!-- Preloader -->
  	<div id="preloader"></div>

    <div class="container clear">

    	{% include header.html %}

        {% include return-work.html %}
        
        <div class="hero-slider">
            {% for item in site.data[page.slide] limit:1 %}
            <div class="hero_img_home below_fold" style="background-image: url('{{ item.image }}')">
                <div class="single_post_wrapper">
                    {{ content }}
                </div>
            </div>
            {% endfor %}
            {% for item in site.data[page.slide] offset:1 %}
                <div class="hero_img_home below_fold" style="background-image: url('{{ item.image }}')"></div>
            {% endfor %}
        </div>

        {% if page.component == "press" %}
            {% include press_group.html %}
        {% endif %}

        {% include footer.html %}
    </div> <!-- .container -->

  </body>

</html>
