<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  	<!-- Preloader -->
  	<div id="preloader"></div>

    <div class="container clear">

    	{% include header.html %}
        <div class="hero-slider">
            {% for item in site.data.[page.slide] %}
                <div class="hero_img_home below_fold" style="background-image: url('{{ item.image }}')"></div>
            {% endfor %}
        </div>

        <div class="wrapper_overlay ">
            {{ content }}
            {% include footer.html %}
        </div>
    </div> <!-- .container -->

  </body>

</html>
